<div class="row">
    <div class="col-sm-2">
        <img src="{{libro.img}}" />
    </div>
    <div class="col-sm-10 titulo">
        <h1 class="tituloLibro">{{libro.title}}</h1>
        <h2>{{libro.subtitle}}</h2>
        <br />
        <h4>{{libro.author}}</h4>
    </div>
</div>
    
    <div>
        
        <h3>Descripción:</h3>
        <p>{{libro.description}}</p>
        <h3>Fecha de lanzamiento:</h3>
        <p>{{libro.release}}</p>
    </div>
<div class="row botones">
    <div class="col-sm-6">
        <button (click)="modificarLibro(id)">Modificar datos</button>
    </div>
    <div class="col-sm-6">
        <button (click)="volverButton()">Volver</button>
    </div>
</div>